/**
 * @file
 * This file contains theming for the footer.
 */

#section-footer {
  background-color: #dedede;
  padding: 2em;
  font-size: small;
}

#section-fatfooter {
  padding: 2em;
}

#section-footer .region-footer,
#section-fatfooter .region-fatfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

#section-fatfooter .region-fatfooter .block {
  min-height: 0;
  line-height: inherit;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

#footer-logo {
  width: 140px;
}

/* Social Icons */

.fatbutton-links {
  text-align: center;
  max-width: 200px;
}

.fatbutton-links a {
  display: block;
  height: 0;
  margin: 5px;
  overflow: hidden;
  padding: 40px 0 0;
  width: 40px;
  border-bottom: none;
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
}

#block-hfcc-global-hfcc-global-fatbutton-links li.leaf {
  display: inline-block;
}

.fatbutton-links a:hover,
.fatbutton-links a:focus {
  background-color: transparent;
}

.fatbutton-links a.button-alert {
  background-image: url(../images/socialbuttons/alert.png);
}

.fatbutton-links a.button-fb {
  background-image: url(../images/socialbuttons/facebook.png);
}

.fatbutton-links a.button-tw {
  background-image: url(../images/socialbuttons/twitter.png);
}

.fatbutton-links a.button-li {
  background-image: url(../images/socialbuttons/linkedin.png);
}

.fatbutton-links a.button-rss {
  background-image: url(../images/socialbuttons/rss.png);
}

.fatbutton-links a.button-yt {
  background-image: url(../images/socialbuttons/youtube.png);
}

@media only screen and (min-width: 450px) {

  #section-footer .region-footer {
    max-width: 600px;
    text-align: left;
  }

  #section-footer .region-footer .block {
    flex: 1 0 50%;
    min-height: 0;
    line-height: inherit;
    margin: 0;
    padding: 1em;
  }

}

@media only screen and (min-width: 650px) {

  #section-fatfooter .region-fatfooter .block {
    padding: 0 1em;
    flex: 0 1 33%;
  }

}

@media only screen and (min-width: 978px) {

  #section-footer .region-footer {
    max-width: 1100px;
    text-align: left;
  }

  #section-footer .region-footer .block {
    flex: 1 0 25%;
    padding: 0 1em;
  }

}
