/**
 * @file
 * Page header styling.
 */

#section-header {
  background-color: #FFF;
}

.site-logo {
  background-color: #FFF;
  background-image: url(../images/hfc-futuredriven-color.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 125px;
  padding: 1em;
  width: 125px;
  margin: 0 auto;
}

a.hfcc-home {
  display: block;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}

#name-and-slogan {
  text-align: center;
}

h1#site-name {
  font-family: Helvetica Neue, Helvetica, Lucida Grande, Arial, sans-serif;
  font-size: 1.953em; /* 27.344px */
  line-height: 1.5360em;
  margin: 0;
}

#site-name a {
  color: #222;
  text-decoration: none;
  border-bottom: none;
}

#site-name a:hover,
#site-name a:focus {
  background-color: transparent;
}

#billboard {
  position: relative;
}

#billboard #header-image {
  height: 25vw;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5)
}

#page-title {
  display: none;
}

.front #billboard #header-image {
  min-height: 200px;
}

#billboard .billboard-caption {
  font-size: 1em;
  padding: 0.5em;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (min-width: 480px) {

  #name-and-slogan {
    text-align: right;
    margin: 1em 1em 0 0;
  }

  #name-and-slogan h1 {
    text-align: right;
  }

  .site-logo {
    height: 125px;
    position: absolute;
    width: 125px;
    z-index: 10;
  }

  .header-container {
    margin: 0 0 0 125px;
    min-height: 125px;
  }

}

@media only screen and (min-width: 640px) {

  h1#site-name {
    font-size: 2.441em; /* 34.18px */
    line-height: 1.2288em;
  }

}

@media only screen and (min-width: 770px) {

  .site-logo {
    height: 20vw;
    width: 20vw;
    max-width: 250px;
    max-height: 250px;
  }

  .header-container {
    margin-left: 20vw;
    min-height: 0;
  }

  #billboard .billboard-caption {
    font-size: 1.2em;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    bottom: 50px;
    top: auto;
    right: 0px;
    width: 250px;
    text-align: center;
  }

  #billboard {
    min-height: 90px;
  }

}

@media only screen and (min-width: 1000px) {

  .header-container {
    width: 70%;
  }

  #billboard {
    min-height: 150px;
  }

}

@media only screen and (min-width: 1400px) {

  .header-container {
    margin-left: 250px;
  }

}
