/**
 * @file
 * This file defines the page layout structure.
 */

#section-footer {
  clear: both;
  float: none;
}

#page {
  margin: 0 auto;
}

#section-main {
  max-width: 1400px;
  margin: 0 0.25em;
}

#main-inner {
  width: 100%;
  margin: 0 0 1.5em 0;
}

#content-inner .field-name-body {
  max-width: 700px;
  margin: 0 auto;
}

/* Responsive iframe / video */

.player {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0px;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-wrap iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

.video-js {
  width: 100% !important;
  height: auto !important;
  line-height: 0;
}

.video-js .vjs-tech {
  height: auto;
  overflow: auto;
  position: relative;
}

@media only screen and (min-width: 770px) {

  #section-main {
    margin: 0 auto;
  }

  #content-inner, #breadcrumb {
    margin: 0 auto;
    max-width: 1100px;
  }

  .front #content-inner, .front #section-main {
    margin: 0 auto;
    max-width: 100%;
  }

  .front #news-events,
  .front #block-hfccbane-event1 ul.upcoming-events-list,
  .front .highlight-grid .view-content {
    max-width: 1400px;
    margin: 0 auto;
  }

  #section-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 100%;
  }

  #sidebar-first, #sidebar-second {
    width: 25%;
  }

  .two-sidebars #main-inner {
    width: 50%;
  }

  .sidebar-first #main-inner,
  .sidebar-second #main-inner {
    width: 75%;
  }

}
