/**
 * @file
 * Primary menu styling.
 */

/* Normal Menus */

ul.menu {
  margin: 0;
}

ul.menu li {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

ul.menu a {
  font-weight: normal;
  border: none;
}

ul.menu a.active {
  color: #333335;
}

ul.menu a.active:hover {
  text-decoration: none;
}

ul.menu .expanded,
ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

ul.menu ul.menu {
  margin: 0.75em 0 0 0.75em;
}

ul.menu ul.menu ul.menu {
  margin: 0.75em 0 0 0.75em;
}

ul.menu li ul.menu li.last {
  padding: 0;
}

/* Main Navigation */

ul#main-menu {
  display: block;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  text-align: center;
}

ul#main-menu li {
  display: block;
  margin: 0;
  padding: 0.2em 0.4em;
  display: inline-block;
}

ul#main-menu li a {
  color: #0054A6; /* default color is our header color, overriding link color */
  display: block;
  border-bottom: none;
  padding: 0.75em 0;
}

ul#main-menu li a.active {
  color: #333335;
}

ul#main-menu li a:focus,
ul#main-menu li a:hover {
  background-color: rgba(0,0,0,0);
}

/* Secondary Navigation */

ul#secondary-menu {
  display: block;
  line-height: normal;
  margin: 0;
  text-align: center;
  background-color: #ababab;
}

ul#secondary-menu li {
  display: block;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

ul#secondary-menu li a {
  color: #212121; /* default color is our header color, overriding link color */
  display: block;
  border-bottom: none;
  padding: 0.2em 0.4em;
}

ul#secondary-menu li a.active {
  color: #333335;
}

ul#secondary-menu li:hover,
ul#secondary-menu li:focus {
  background-color: #a0a0a0;
  border-bottom: 2px solid #333;
}

ul#secondary-menu li:focus a,
ul#secondary-menu li:hover a {
  background-color: rgba(0,0,0,0);
}

/* Superfish Styles */

ul#superfish-1 {
  float: none;
  padding: 2.1em 0 0.625em;
  text-align: center;
}

ul.sf-menu li:nth-child(1) {
  padding-left: 6px;
}

.sf-sub-indicator {
  display: none;
}

ul.sf-menu {
  float: left;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0;
  padding: 0.826em 0;
}

ul.sf-main-menu li.sf-depth-1 {
  display: inline;
  float: none;
}

.sf-megamenu-wrapper {
  border-bottom: none;
}

ul.sf-menu li.active-trail.sf-depth-1 {
}

ul.sf-main-menu a.sf-depth-1 {
  display: inline-block;
}

ul.sf-main-menu li.sf-depth-2 {
  text-align: left;
}

ul.sf-menu li {
  margin: 0;
  padding: 0.87em 0.9em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited,
ul.sf-main-menu a.sf-depth-1 {
  color: #0054A6;
  text-decoration: none;
  font-weight: bold;
}

ul.sf-menu a.sf-depth-2:link,
ul.sf-menu a.sf-depth-2:visited {
  color: #333335;
}

.sf-menu.sf-horizontal.sf-shadow ul {
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -1px #666;
  padding: 0 !important;
}

.sf-menu.sf-horizontal.sf-shadow ul li {
  padding: 0.328em 1.512em;
  margin: 0;
}

ul.sf-menu ul a:link,
ul.sf-menu ul a:visited {
  border-radius: 0;
  font-size: small;
}

ul.sf-menu li.sf-depth-2:hover,
ul.sf-menu li.sf-depth-2:hover > a {
  background: none;
  color: #0054A6;
}

ul.sf-menu a.active,
ul.sf-menu li.active-trail,
ul.sf-menu li.active-trail > a {
  background: none;
  color: #333335;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  top: 2.5em;
}

@media only screen and (min-width: 480px) {

  ul#main-menu {
    text-align: right;
  }

  #superfish-1-select {
    margin: 13px 0;
  }

}

@media only screen and (min-width: 770px) {

  ul#main-menu {
    font-size: 1.2em;
  }

  ul#main-menu li a {
    padding: 0.75em;
  }

  ul#secondary-menu {
    font-size: 1.1em;
  }

  ul#secondary-menu li a {
    padding: 0.3em 1em;
  }

}

@media only screen and (min-width: 960px) {

  ul.sf-menu {
    font-size: 1.1em;
    line-height: 1.2em;
  }

}
