/**
 * @file
 * Primary styling for nodes.
 */

 .node-unpublished {
  background: url(../images/draft-bg.png) no-repeat right top transparent;
}

.node .submitted {
  font-style: italic;
  margin: 0 0 0.5em;
}

div.field-label-inline {
  margin: 0 0 1.5em;
}

.field-name-field-header-image {
  margin: 0 0 1.5em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  background: #ffa;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Format content blocks on landing pages. */

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.51216389244558%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #CCC;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

/* Format program sequence tables in program displays. */

.group-program-sequence thead > tr {
  padding: 0 0.6em;
}

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.25em;
}

.field-type-program-sequence .course-name {
  padding-right: 1em;
  white-space: nowrap;
  width: 10%;
}

.field-type-program-sequence .course-title {
  padding-right: 1em;
  width: 50%;
}

.field-type-program-sequence .course-prerequisites {
  width: 35%;
}

.field-type-program-sequence .hours {
  padding-left: 1em;
  text-align: right;
  width: 10%;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  font-weight: bold;
  padding: 0.25em 0;
  text-align: right;
}

/* Formatting for Webforms and other non-admin forms */

.form-item div.description {
  background: #f2f2f2;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  font-style: italic;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}

.fieldset-legend {
  color: #0054A6;
  font-size: 1.563em;
  line-height: 1.9200em;
  margin: 0 0 0.96em;
  padding: 0 0.5em;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1em;
}

.form-item label {
  color: #444;
}

label.option {
  color: #222;
  font-size: 1em;
}

.marker, .form-required {
  color: #E84A37;
}

.webform-progressbar-page {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  margin: -5px -4px;
}

.webform-progressbar-outer {
  background-color: #ccc;
  border: none;
}

.webform-progressbar-inner {
  background-color: #AAC54E;
}

.webform-progressbar-page.completed {
  background-color: #AAC54E;
}

.webform-progressbar-page.current {
  background-color: #AAC54E;
}

/** HFCC Web Services Client **/

#hfccwsclient-staffdir-form #edit-search {
  border: 1px solid #ccc;
  padding: 0 0.88em 1em;
}

#hfccwsclient-staffdir-form #edit-search > legend {
  padding: 0 0.325em;
}

#hfccwsclient-staffdir-form #edit-search .form-item {
  float: left;
  padding-right: 1.5em;
}

#hfccwsclient-staffdir-form #edit-search .form-submit {
  /*float: left;*/
}
.staff-directory-results td {
  padding: 0.325em 0;
  vertical-align: top;
}

.img-gap {
  position: relative;
}

.img-gap > a {
  line-height: 0;
}

/* Topic List Content Pattern Styles */

.topic-list {
  margin: 0 0 1.5em 0;
}

.topic-list .topic-title h3,
.topic-list .topic-title h4, {
  margin: 0 0 1em 0;
}

.topic-title {
  position: relative;
}

.topic-info ul {
  list-style-type: initial;
}

.topic-item {
  border-top: 1px solid #ccc;
  padding: 1.5em 0;
  display: block;
}

.topic-item:last-child,
.topic-item.views-row-last {
  border-bottom: 1px solid #ccc;
}

/* Gallery Content Pattern Styles */

.gallery-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.gallery-item {
  min-width: 0;  /*hack for firefox 3747 */
  flex: 1 0 200px;
  padding: 0 0.5em 1.5em 0.5em;
}

/* Styles that go along with ac_helper module/ academic content types */

/* Program Nodes */

.node-type-program .bottom-margin,
.node-type-program .field-name-body,
.node-type-program .field-name-field-catalog-programs,
.node-type-program .group-programs {
  margin: 0 0 2em 0;
}

.featured-gray-block {
  background: #dedede;
  padding: 2em;
  overflow: auto;
}

.node-type-program .field-name-field-catalog-programs .field-item {
  border-top: 1px solid #ccc;
  padding: 1.5em 0;
  overflow: auto;
}
.node-type-program .field-name-field-catalog-programs .field-item:last-child {
  border-bottom: 1px solid #ccc;
}

/* Featured Artist and Faculty Nodes */

.field-name-field-person-photo img {
  width: 200px;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

}

@media only screen and (min-width: 640px) {

  .topic-info, .topic-title {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }

 .region-content .field-name-body .topic-info ul {
    margin: 0 0 1.5em 1em;
  }

  .topic-title {
    width: 33%;
    margin: 0;
  }

  .topic-info {
    padding: 0 0 0 2em;
  }

}

@media only screen and (min-width: 720px) {

/* Styles that go along with ac_helper module/ academic content types */

  .program-link {
    float: left;
    max-width: 70%;
  }
  .degree-type {
    float: right;
    max-width: 30%;
  }
  .node-type-program .field-name-field-catalog-programs .field-item {
    clear: both;
  }

}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}

@media only screen and (min-width: 948px) {

  .gallery-4 .gallery-item {
    width: 25%;
  }
  .gallery-3 .gallery-item {
    width: 33.3333%;
  }
  .gallery-2 .gallery-item {
    width: 50%;
  }

}
