/**
 * @file
 * Primary page styling.
 */

.front #page-title {
  display: none;
}

/* Breadcrumb */

#breadcrumb {
  overflow: hidden;
  font-size: 0.8em;
}

.breadcrumb a {
  color: #222;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.breadcrumb a:hover,
.breadcrumb a.focus {
  border-bottom: 1px solid #222;
}

/* Sidebars */

.sidebar {
  padding: 1em;
}

/* Highlight Styles */

.highlight-grid.blue {
  background-color: #0054A6;
}

.highlight-grid.orange {
  background-color: #ffa14a;
}

.highlight-grid.green {
  background-color: #b5cd66;
}

.highlight-grid .view-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: auto;
  position: relative;
  width: 100%;
}

.highlight-item {
  background-color: #CCC;
  color: #FFF;
  -webkit-box-flex: 0 1 50%;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 0 1 50%;         /* OLD - Firefox 19- */
  -webkit-flex: 0 1 50%;          /* Chrome */
  -ms-flex: 0 1 50%;              /* IE 10 */
  flex: 0 1 50%;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  min-height: 0;
  line-height: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.highlight-wrap {
  padding: 20%;
}

.highlight-item > .highlight-wrap:first-child {
  padding-top: 1rem;
}

.highlight-title {
  font-family: 'Ikaros', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.hfc-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
  line-height: initial;
  padding: 1em 0.5em;
}

.hfc-caption p {
  font-size: small;
}

.hfc-caption h2,
.hfc-caption h3,
.hfc-caption h4,
.hfc-caption h5 {
  margin: 0;
}

.hfc-caption--image {
  background-color: rgba(0,84,166,0.5);
  color: #FFF;
}
.hfc-caption--popup {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: -56px;
}

.highlight-item:hover .hfc-caption--popup,
.highlight-item:focus .hfc-caption--popup {
  margin-bottom: 0;
}

.highlight-image img {
  width: 100%;
}

.highlight-item p {
  margin: 0;
}

.highlight-item .edit-link {
  position: absolute;
  bottom: 0;
  right: 0;
}

.highlight-header {
  text-align: center;
  overflow: auto;
  margin-top: 2em;
}

.highlight-header .hfc-icon {
  display: inline-block;
}

.highlight-header.blue {
  background-color: #0054A6;
  color: #FFF;
}

.highlight-header.blue h2 {
  color: #fff;
}

/* Alternating Colors */

.highlight-grid .highlight-item.gray {
  background-color: #333333;
  color: #FFF;
}

.highlight-grid .highlight-item.light-gray {
  background-color: #919191;
  color: #222;
}

.highlight-grid .highlight-item.gray .hfc-caption--image {
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}

.highlight-grid .highlight-item.light-gray .hfc-caption--image {
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
}

/* Blue */

.highlight-grid.blue .highlight-item.color {
  background-color: #0054A6;
  color: #FFF;
}

.highlight-grid.blue .highlight-item.light-color {
  background-color: #1A6EC0;
  color: #FFF;
}

.highlight-grid.blue .highlight-item.color .hfc-caption--image {
  background-color: rgba(0,84,166,0.5);
  color: #FFF;
}

.highlight-grid.blue .highlight-item.light-color .hfc-caption--image {
  background-color: rgba(0,84,166,0.5);
  color: #FFF;
}

/* Orange */

.highlight-grid.orange .highlight-item.color {
  background-color: #ffa14a;
  color: #222;
}

.highlight-grid.orange .highlight-item.light-color {
  background-color: #ffba63;
  color: #222;
}

.highlight-grid.orange .highlight-item.color .hfc-caption--image {
  background-color: rgba(255,186,99,0.5);
  color: #222;
}

.highlight-grid.orange .highlight-item.light-color .hfc-caption--image {
  background-color: rgba(255,186,99,0.5);
  color: #222;
}

/* Green */

.highlight-grid.green .highlight-item.color {
  background-color: #b5cd66;
  color: #222;
}

.highlight-grid.green .highlight-item.light-color {
  background-color: #cfe780;
  color: #222;
}

.highlight-grid.green .highlight-item.color .hfc-caption--image {
  background-color: rgba(207,231,128,0.5);
  color: #222;
}

.highlight-grid.green .highlight-item.light-color .hfc-caption--image {
  background-color: rgba(207,231,128,0.5);
  color: #222;
}

/* Program highlights */

.program-highlight .highlight-wrap {
  padding: 2em;
}

/* Testimonials */

.testimonials ul.views-view-grid {
  -webkit-justify-content: center;
   justify-content: center;
}

.testimonials .wrap {
  padding: 0 1em;
}

.testimonials .wrap .testimonial-person {
  padding: 1.5em 1em;
  overflow: auto;
}

.testimonials .wrap .testimonial-person .testimonial-photo {
  float: left;
  padding: 0 0.25em 0 0;
}

.testimonials .wrap .testimonial-person .testimonial-photo img {
  border-radius: 50%;
  max-width: 75px;
}

.testimonials .wrap .quote {
  background-image: url(/sites/all/themes/futuredriven/images/quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 0.75em;
  margin: 0;
}

.testimonials .wrap .testimonial-person p {
  margin: 0;
}

/* Programs Video*/

.program-video {
  max-width: 400px;
}

/* Icon Set */

.hfc-icon-wrap {
  margin-bottom: 1em;
}

.hfc-icon {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-top: 40px;
  margin: 0 1em;
  min-width: 40px;
}

.hfc-icon:hover,
.hfc-icon:focus {
  color: #565656;
}

.hfc-icon-apply {
  background-image: url('../images/hfc-theme-icons/apply.svg');
}

.hfc-icon-apply:hover {
  background-image: url('../images/hfc-theme-icons/apply-hover.svg');
}

.hfc-icon-apply-white {
  background-image: url('../images/hfc-theme-icons/apply-white.svg');
}

.hfc-icon-athletics {
  background-image: url('../images/hfc-theme-icons/athletics.svg');
}

.hfc-icon-athletics:hover {
  background-image: url('../images/hfc-theme-icons/athletics-hover.svg');
}

.hfc-icon-campus-tour {
  background-image: url('../images/hfc-theme-icons/campus-tour.svg');
}

.hfc-icon-campus-tour:hover {
  background-image: url('../images/hfc-theme-icons/campus-tour-hover.svg');
}

.hfc-icon-campus-tour-white {
  background-image: url('../images/hfc-theme-icons/campus-tour-white.svg');
}

.hfc-icon-clubs1 {
  background-image: url('../images/hfc-theme-icons/clubs1.svg');
}

.hfc-icon-clubs1:hover {
  background-image: url('../images/hfc-theme-icons/clubs1-hover.svg');
}

.hfc-icon-online-learning {
  background-image: url('../images/hfc-theme-icons/online-learning.svg');
}

.hfc-icon-online-learning:hover {
  background-image: url('../images/hfc-theme-icons/online-learning-hover.svg');
}

.hfc-icon-programs {
  background-image: url('../images/hfc-theme-icons/programs.svg');
}

.hfc-icon-programs:hover {
  background-image: url('../images/hfc-theme-icons/programs-hover.svg');
}

.hfc-icon-request-info {
  background-image: url('../images/hfc-theme-icons/request-info.svg');
}

.hfc-icon-request-info:hover {
  background-image: url('../images/hfc-theme-icons/request-info-hover.svg');
}

.hfc-icon-request-info-white {
  background-image: url('../images/hfc-theme-icons/request-info-white.svg');
}

.hfc-icon-study-abroad {
  background-image: url('../images/hfc-theme-icons/study-abroad.svg');
}

.hfc-icon-study-abroad:hover {
  background-image: url('../images/hfc-theme-icons/study-abroad-hover.svg');
}

.hfc-icon-transfer {
  background-image: url('../images/hfc-theme-icons/transfer.svg');
}

.hfc-icon-transfer:hover {
  background-image: url('../images/hfc-theme-icons/transfer-hover.svg');
}

/* Button classes */

.hfc-button {
  border: 2px solid #464646 !important;
  color: #464646 !important;
  display: inline-block;
  padding: 0 0.8em;
  line-height: 2em;
  margin: 0.4em 0;
  white-space: nowrap;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.hfc-button:hover {
  background-color: #464646;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #fff !important;
  text-decoration: none;
}

.hfc-button-primary {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #0054A6 !important;
  color: #0054A6 !important;
}

.hfc-button-white {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff !important;
  color: #fff!important;
}

.hfc-button-primary:hover {
  background-color: #0054A6;
  color: #fff !important;
}

.hfc-button-white:hover {
  background-color: #fff;
  color: #333 !important;
}

#highlighted {
  background-color: #FFFF50;
  margin-bottom: 1.5em;
  padding: 0.5em 1em;
}

.region-content .field-name-body ol,
.region-content .field-name-body ul {
  margin: 0 0 1.5em 2.441em; /* indents enough for 3 digit numbered lists */
}

.region-content .field-name-body li ol,
.region-content .field-name-body li ul {
  margin: 0 0 0 1.25em;
}

/** BANE **/

.hfcc-bulletin {
  background-color: #FFFF50;
  padding: 0.5em 0 0;
}

ul.upcoming-events-list,
ul.hfc-news-items {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
}

/** Front Page BANE **/

.front #news-events {
  margin-bottom: 2em;
  list-style: none;
  list-style-image: none;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.front #news .field-name-hfccbane-hfccnews-photo-medium {
  float: left;
  margin: 0 1em 0 0;
}

.front ul.upcoming-events-list li {
  border-bottom: 1px dashed #333;
  padding: 1em 0;
}

.front ul.upcoming-events-list li .event-date {
  display: inline-block;
  margin-right: 2em;
  width: 70px;
}

.front #block-hfccbane-event1 {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.front #block-hfccbane-event1 ul.upcoming-events-list li {
  display: block;
}

.front #block-hfccbane-event1 ul.upcoming-events-list li:last-child {
  border-right: none;
}

.front #block-hfccbane-event1 ul.upcoming-events-list li a {
  color: #fff;
  border-color: #fff;
}

.front #block-hfccbane-event1 ul.upcoming-events-list li a:hover,
.front #block-hfccbane-event1 ul.upcoming-events-list li a:focus {
  background-color: transparent;
}

/** 7 Steps Navigation **/

#block-menu-menu-7-steps-sidebar-menu ul.menu {
  text-align: center;
  margin: 1em 0;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li {
  line-height: 3em;
  padding: 0.25em;
  flex: 0 1 25%;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a {
  padding: 0 0.25em;
  background-color: #ccc;
  display: block;
  color: #222;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Individual Steps Colors */

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(1) a {
  background-color: rgba(0, 84, 166, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(2) a {
  background-color: rgba(248, 180, 51, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(3) a {
  background-color: rgba(153, 153, 153, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(4) a {
  background-color: rgba(237, 74, 54, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(5) a {
  background-color: rgba(122, 157, 62, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(6) a {
  background-color: rgba(17, 176, 170, 0.2);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(7) a {
  background-color: rgba(104, 48, 101, 0.2);
}

/* Active Pages in Steps Menu */

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(1).active-trail a {
  background-color: rgba(0, 84, 166, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(2).active-trail a {
  background-color: rgba(248, 180, 51, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(3).active-trail a {
  background-color: rgba(153, 153, 153, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(4).active-trail a {
  background-color: rgba(237, 74, 54, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(5).active-trail a {
  background-color: rgba(122, 157, 62, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(6).active-trail a {
  background-color: rgba(17, 176, 170, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li:nth-child(7).active-trail a {
  background-color: rgba(104, 48, 101, 1);
}

#block-menu-menu-7-steps-sidebar-menu ul.menu li a:hover,
#block-menu-menu-7-steps-sidebar-menu ul.menu li a:focus {
  background-color: transparent;
}

/* Featured Buttons top of page */


.view-featured-button-view ul.views-view-grid {
  display: block;
}

.view-featured-button-view ul.views-view-grid li {
  width: 80%;
  margin: 0 auto;
}

.view-featured-button-view .featured-button {
  background-color: #0054A6;
  color: white;
  text-align: center;
  position: relative;
  padding: 15px;
  height: 100%;
}

.view-featured-button-view .featured-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid white;
  border-left: 30px solid transparent;
}

.view-featured-button-view .featured-button .hfc-icon {
  font-size: 1.2em;
  padding-bottom: 0.5em;
  margin: 0;
  color: inherit;
}

.view-featured-button-view .featured-button p {
  margin: 0;
}

.view-featured-button-view li:nth-child(1) .featured-button {
  background-color: #1A6EC0;
  color: #fff;
}

.view-featured-button-view li:nth-child(2) .featured-button {
  background-color: #ffa14a;
  color: #222;
}

.view-featured-button-view li:nth-child(3) .featured-button {
  background-color: #cfe780;
  color: #222;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

@media only screen and (min-width: 770px) {

  .view-featured-button-view ul.views-view-grid {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: flex;
  }

  .highlight-item {
    -webkit-box-flex: 0 1 25%;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 1 25%;         /* OLD - Firefox 19- */
    -webkit-flex: 0 1 25%;          /* Chrome */
    -ms-flex: 0 1 25%;              /* IE 10 */
    flex: 0 1 25%;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .front #news {
    width: 50%;
    padding: 0 2em 0 0;
  }

  .front #events {
    width: 50%;
    padding: 0 0 0 2em;
  }

  .front #block-hfccbane-event1 ul.upcoming-events-list {
    display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    margin: auto;
    position: relative;
    width: 100%;
  }

  .front #block-hfccbane-event1 ul.upcoming-events-list li {
    border-right: 1px dashed #fff;
    display: block;
      webkit-box-flex: 0 1 25%;
      -moz-box-flex: 0 1 25%;
      -webkit-flex: 0 1 25%;
      -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    margin: 2em 0;
    min-height: 0;
    padding: 0 2em;
    overflow: auto;
  }

  .front #block-hfccbane-event1 ul.upcoming-events-list li .event-date {
    display: block;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    width: auto;
  }

  .breadcrumb a {
    color: #212121;
    background: #ababab;
    display: block;
    float: left;
    position: relative;
    padding: 10px 0 10px 50px;
    border-bottom: none;
  }

  .breadcrumb a:before {
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-left: 3px;
    margin-top: -50px;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    z-index: 1;
  }

  .breadcrumb a:after {
    border-bottom: 50px solid transparent;
    border-left: 30px solid #ababab;
    border-top: 50px solid transparent;
    content: " ";
    display: block;
    height: 0;
    margin-top: -50px;
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    z-index: 2;
  }

  .breadcrumb a:first-child {
    padding-left: 10px;
  }

  .breadcrumb a:nth-child(2) {
    background-color: #c5c5c5;
  }

  .breadcrumb a:nth-child(2):after {
    border-left: 30px solid #c5c5c5;
  }

  .breadcrumb a:nth-child(3) {
    background-color: #dedede;
  }

  .breadcrumb a:nth-child(3):after {
    border-left: 30px solid #dedede;
  }

  .breadcrumb a:nth-child(4) {
    background-color: #f8f8f8;
  }

  .breadcrumb a:nth-child(4):after {
    border-left: 30px solid #f8f8f8;
  }

  .breadcrumb a:hover,
  .breadcrumb a:focus {
    background: #fff;
    border-bottom: none;
  }

  .breadcrumb a:hover:after,
  .breadcrumb a:focus:after {
    border-left: 30px solid #fff;
  }

}

@media only screen and (min-width: 890px) {

  #block-menu-menu-7-steps-sidebar-menu ul.menu li {
    line-height: 4.5em;
    flex-basis: 14.28%;
  }

}
